@define-color borders_breeze #545454;
@define-color content_view_bg_breeze #2e2e2e;
@define-color error_color_backdrop_breeze #e04643;
@define-color error_color_breeze #e04643;
@define-color error_color_insensitive_backdrop_breeze #673433;
@define-color error_color_insensitive_breeze #673433;
@define-color insensitive_base_color_breeze #2c2c2c;
@define-color insensitive_base_fg_color_breeze #686868;
@define-color insensitive_bg_color_breeze #242424;
@define-color insensitive_borders_breeze #343434;
@define-color insensitive_fg_color_breeze #626262;
@define-color insensitive_selected_bg_color_breeze #242424;
@define-color insensitive_selected_fg_color_breeze #626262;
@define-color insensitive_unfocused_bg_color_breeze #242424;
@define-color insensitive_unfocused_fg_color_breeze #626262;
@define-color insensitive_unfocused_selected_bg_color_breeze #242424;
@define-color insensitive_unfocused_selected_fg_color_breeze #626262;
@define-color link_color_breeze #16decd;
@define-color link_visited_color_breeze #0fcbf5;
@define-color success_color_backdrop_breeze #43e075;
@define-color success_color_breeze #43e075;
@define-color success_color_insensitive_backdrop_breeze #336744;
@define-color success_color_insensitive_breeze #336744;
@define-color theme_base_color_breeze #2e2e2e;
@define-color theme_bg_color_breeze #262626;
@define-color theme_button_background_backdrop_breeze #424242;
@define-color theme_button_background_backdrop_insensitive_breeze #3f3f3f;
@define-color theme_button_background_insensitive_breeze #3f3f3f;
@define-color theme_button_background_normal_breeze #424242;
@define-color theme_button_decoration_focus_backdrop_breeze #009185;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #295955;
@define-color theme_button_decoration_focus_breeze #009185;
@define-color theme_button_decoration_focus_insensitive_breeze #295955;
@define-color theme_button_decoration_hover_backdrop_breeze #009185;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #295955;
@define-color theme_button_decoration_hover_breeze #009185;
@define-color theme_button_decoration_hover_insensitive_breeze #295955;
@define-color theme_button_foreground_active_backdrop_breeze #dedede;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #626262;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #626262;
@define-color theme_button_foreground_backdrop_breeze #ffffff;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7e7e7e;
@define-color theme_button_foreground_insensitive_breeze #7e7e7e;
@define-color theme_button_foreground_normal_breeze #ffffff;
@define-color theme_fg_color_breeze #dedede;
@define-color theme_hovering_selected_bg_color_breeze #009185;
@define-color theme_selected_bg_color_breeze #009185;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #e3e3e3;
@define-color theme_titlebar_background_backdrop_breeze #262626;
@define-color theme_titlebar_background_breeze #262626;
@define-color theme_titlebar_background_light_breeze #262626;
@define-color theme_titlebar_foreground_backdrop_breeze #696969;
@define-color theme_titlebar_foreground_breeze #dedede;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #696969;
@define-color theme_titlebar_foreground_insensitive_breeze #696969;
@define-color theme_unfocused_base_color_breeze #2e2e2e;
@define-color theme_unfocused_bg_color_breeze #262626;
@define-color theme_unfocused_fg_color_breeze #dedede;
@define-color theme_unfocused_selected_bg_color_alt_breeze #08403b;
@define-color theme_unfocused_selected_bg_color_breeze #08403b;
@define-color theme_unfocused_selected_fg_color_breeze #dedede;
@define-color theme_unfocused_text_color_breeze #e3e3e3;
@define-color theme_unfocused_view_bg_color_breeze #2c2c2c;
@define-color theme_unfocused_view_text_color_breeze #686868;
@define-color theme_view_active_decoration_color_breeze #009185;
@define-color theme_view_hover_decoration_color_breeze #009185;
@define-color tooltip_background_breeze #4d4d4d;
@define-color tooltip_border_breeze #737373;
@define-color tooltip_text_breeze #e6e6e6;
@define-color unfocused_borders_breeze #545454;
@define-color unfocused_insensitive_borders_breeze #343434;
@define-color warning_color_backdrop_breeze #f57e00;
@define-color warning_color_breeze #f57e00;
@define-color warning_color_insensitive_backdrop_breeze #6e471d;
@define-color warning_color_insensitive_breeze #6e471d;
