.volume {
  .icon { color: $peach; }
  .speaker {
    .icon {
      margin-left: 8px;
      margin-right: 5px;
    }
  }
  .microphone {
    .icon {
      margin-left: 8px;
      margin-right: 3px;
    }
  }
}
