.workspaces {
  background-color: $bg1-a;
  border-radius: 25px;

  .value {
    margin-left: 10px;
    margin-right: 10px;
  }

  .focused {
    // text-decoration: underline;
    // text-decoration-color: red;
    // text-decoration-style: double;
    font-weight: 900;
    // color: $sapphire;
    color: #fff;
  }

  .active {
    color: #bbb;
  }

  .inactive {
    color: #555;
  }
}
