.workspaces {
  background-color: $bg1-a;
  border-radius: 25px;

  .icon, .icon label {
    font-family: "Material Symbols Outlined";
    font-size: 1.15rem;
  }

  .value {
    margin: 0 9px;
  }

  .focused {
    // text-decoration: underline;
    // text-decoration-color: red;
    // text-decoration-style: double;
    color: $fg;
  }

  .active {
    color: #bbb;
  }

  .inactive {
    color: #555;
  }
}
