
# Ignore python cache
__pycache__/

# Ignore pytest cache
.pytest_cache

# virtualenv
env/
venv/
.venv

# Vscode settings
.vscode/

# Ignore intellij Files (PyCharm)
.idea

# Ignore spyder Files
.spyproject/

# Ignore ds store files
.DS_STORE

# Backup files
*.bak

# Personal TODO files
TODO
