# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Envornments
.venv
venv/
env/

# Editor project settings
## VSCode
.vscode/
## PyCharm intellij
.idea/
## repl.it
.replit
## Spyder
.spyproject/
.spyderproject/

# Ignore ds store files
.DS_STORE

# Personal TODO files
TODO

# Ignore backups
backup/

# Ignore git downloads
download/
