# Contains wakatime API which should remain private
files/.wakatime.cfg
# Backup directory will get created by script, no need to push it
backup/
# Don't include file backups
*.bak
# todo list
*.todo
# VSCode settings
.vscode/
# Python Cache
__pycache__/
.pytest_cache/
