[submodule "root/usr/local/src/Hyprland"]
	path = root/usr/local/src/Hyprland
	url = https://github.com/hyprwm/Hyprland
[submodule "root/usr/local/src/eww"]
	path = root/usr/local/src/eww
	url = https://github.com/elkowar/eww
[submodule "home/.config/zsh/.zgenom"]
	path = home/.config/zsh/.zgenom
	url = https://github.com/jandamm/zgenom
