# This is Git's per-user configuration file.
[user]
	name = ItsDrike
	email = itsdrikeofficial@gmail.com
	signingkey = F4E8FF4F6AC7F3B4
[credential]
	helper = store
[alias]
	l = log --oneline --decorate --all --graph
	lol = log --pretty=oneline --abbrev-commit --graph
	lg = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[merge]
	tool = meld
[mergetool]
	keepbackup = false
	keeptemporaries = false
[diff]
	tool = meld
[commit]
	gpgsign = true
