[Desktop Entry]
Type=Application
Exec=/opt/discord/Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/opt/discord/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
