# /etc/crontab: configuration file for cron

# See cron(8) and crontab(5) for details.

# m h dom mon dow user command
15,30,45 * * * * 	 root 	/usr/local/bin/btrfs-backup -l querter-hourly -k 4 -d /.btrfs/snapshots -- /.btrfs/root /.btrfs/data
0        * * * * 	 root 	/usr/local/bin/btrfs-backup -l hourly -k 8 -d /.btrfs/snapshots -- /.btrfs/root /.btrfs/data
