@import "css/colors";

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: 200ms ease;
}

@import "css/windows/calendar";
@import "css/windows/radio_menu";
@import "css/modules/clock";
@import "css/modules/volume";
@import "css/modules/bitcoin";
@import "css/modules/cpu";
@import "css/modules/memory";
@import "css/modules/uptime";
@import "css/modules/kernel";
@import "css/modules/battery";
@import "css/modules/workspaces";
@import "css/modules/gammarelay";
@import "css/modules/window_name";

.bar {
  background-color: $bg-a;
  color: $fg;

  font-family: "JetBrains Mono", "Jost *", sans-serif;

  label {
    font-size: 14px;
  }

  // TODO: Use ercentages (for some reason it fails now)
  min-width: 1900px;
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.icon,
.icon label {
  font-family: "Font Awesome 6 Free", "Material Symbols Outlined";
}

.module {
  margin: 0 5px;
}

.separ {
  color: $surface0;
  font-size: 1.5rem;
  padding-bottom: 2px;
}

scale trough {
  background-color: $bg1-a;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.tray {
  margin-right: 12px;
}

menu {
  background: $bg1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 2px solid rgba($crust, 0.5);
  padding: 0.5rem 0;
}

menu menu {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

menu > menuitem {
  padding: 0.4em 1rem;
  background: transparent;
  transition: 0.2s ease background;
}

menu > menuitem:hover {
  background: rgba($overlay1, 0.4);
}

menu > menuitem check:checked ~ label {
  color: $bg1-a;
  font-weight: 600;
}

menubar > menuitem {
  margin-left: 0.6rem;
}
