# Clean pacman cache of old and uninstalled packages every month
# This needs to be started by running `systemctl start paccache.timer`
# Usage requires `pacman-contrib` package to be installed

[Unit]
Description=Clean-up old pacman pkg
After=network-online.target

[Timer]
OnCalendar=weekly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
