[Unit]
Description=Timer for low battery notification sendout
After=graphical-session.target
Requires=graphical-session.target
PartOf=graphical-session.target

[Timer]
OnUnitActiveSec=20s

[Install]
WantedBy=graphical-session.target

