[Unit]
Description=Show a notification when the battery is low
Requires=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/scripts/gui/battery-notification
RemainAfterExit=false
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target

