[Unit]
Description=Clipman clipboard manager
After=graphical-session.target
Requires=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste -t text --watch /usr/bin/clipman store --no-persist
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target

