[Unit]
Description="Open eww bar"
PartOf=graphical-session.target
After=eww.service
PartOf=eww.service

[Service]
ExecStartPre=/usr/local/bin/eww ping
ExecStart=/usr/local/bin/eww open bar0
ExecStop=/usr/local/bin/eww close bar0
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=wm-ready.target
