[Unit]
Description="Open %I eww window"
PartOf=graphical-session.target
After=eww.service
PartOf=eww.service

[Service]
ExecStartPre=/usr/local/bin/eww ping
ExecStart=/usr/local/bin/eww open %i
ExecStop=/usr/local/bin/eww close %i
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=wm-ready.target
