[Unit]
Description=Open %I eww window
After=eww.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/eww ping
ExecStart=/usr/bin/eww open %i
ExecStop=/usr/bin/eww close %i
RemainAfterExit=true
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical-session.target
