[Unit]
Description="Eww daemon"
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/eww daemon --no-daemonize
Restart=always

[Install]
WantedBy=wm-ready.target
