[Unit]
Description="Eww daemon"
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/eww daemon --no-daemonize
Restart=always
RestartSec=3s

[Install]
WantedBy=wm-ready.target
