[Unit]
Description=Show unread GitHub notifications
Requires=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/scripts/gui/gh-notification -vv
RemainAfterExit=false
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target

