[Unit]
Description="Idle management daemon"
PartOf=graphica-session.target

[Service]
ExecStart=/usr/bin/stdbuf -oL /usr/bin/hypridle
Restart=on-failure

[Install]
WantedBy=wayland-session.target
