[Unit]
Description=Run hyprlock screenlocker on lock dbus event (using systemd-lock-handler)
Requisite=graphical-session.target
# if hyprlock exists cleanly, enter a 'unlock' target
OnSuccess=unlock.target
# When lock.target is stopped, stop this unit too
PartOf=lock.target

[Service]
ExecStart=/usr/bin/hyprlock
StandardOutput=journal
ExecStopPost=/bin/loginctl unlock-session
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=lock.target

