[Unit]
Description=Run hyprlock screenlocker on lock dbus event (using systemd-lock-handler)
Requisite=wm-ready.target
# if hyprlock exists cleanly, enter a 'unlock' target
OnSuccess=unlock.target
# When lock.target is stopped, stop this unit too
PartOf=lock.target

[Service]
ExecStart=/usr/bin/hyprlock
StandardOutput=journal
ExecStop=/bin/kill -s SIGUSR1 $MAINPID
ExecStopPost=/bin/loginctl unlock-session
Restart=on-failure

[Install]
WantedBy=lock.target
