[Unit]
Description="Wallpaper setter"
PartOf=graphical-session.target

[Service]
Environment=WALLPAPER_IMAGE=%h/.local/share/background
ExecStart=/usr/bin/swaybg --image $WALLPAPER_IMAGE
Restart=always
RestartSec=3s

[Install]
WantedBy=wm-ready.target
