[Unit]
Description=Window Manager loaded and ready
BindsTo=graphical-session.target
Wants=wireplumber.service
Wants=pipewire-pulse.socket
Wants=systemd-lock-handler.service
Wants=usbguard-notifier.service
Wants=gnome-keyring-daemon.service
Wants=xdg-desktop-portal.service
Wants=xdg-desktop-portal-hyprland.service
